.main_pane{/*added in fxml*/
    -fx-background-color: #4C4C4C;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.anchor_pane{/*added in fxml*/
    -fx-background-color: #4C4C4C;
}
#schChk{
    -fx-opacity:0;
}
.button{
    -fx-text-fill: #EEEEEE;
    -fx-background-color: #7E7E7E;
    -fx-background-radius: 0 ;
    -fx-font-family: "SSP";
    -fx-font-size: 13.5pt;
    /*-fx-padding: 4,5px; */
}
.button:hover{
    -fx-background-color: #262626;
}
.button:disabled{
    -fx-background-color: #262626;
}
.button:pressed{
    -fx-background-color: #DCDCDC;
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "SSP";
    -fx-font-size: 13pt;
}

.info_panel_lbl{
    -fx-font-size: 15pt;
    -fx-padding: -2px;
}

.text-area{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-control-inner-background:#232323;
    -fx-text-fill: white;
    -fx-focus-color: -fx-control-inner-background;
    -fx-background-color: transparent, #232323, transparent, #232323;
    -fx-font-size: 09pt;
     -fx-prompt-text-fill: gray;
}
.text-area .content {
    -fx-background-color: transparent, #232323, transparent, #232323;
    -fx-background-radius: 0 ;
}
/* 
.text-field{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-family: "SSP";
    -fx-font-size: 11pt;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-padding: 2px;
    -fx-background-color: transparent, white, transparent, white;

}*/

.date-picker  { /*madhesia e fontit te kalendarit */
	-fx-font: 15px "Calabria";
}

.date-picker:disabled {
	-fx-opacity: 0.51;
  	-fx-text-fill: red;
}

.date-picker > .arrow-button > .arrow { /*butoni i kalendarit ngjyra dhe madhesia */
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 1em 1em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape: true;
}

.date-picker > .arrow-button /*ngjyra e background te butonit */
{
    -fx-background-color: grey;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.date-picker-popup { /*ngjyra e borderit te kalendarit  */
    
}
.date-picker-popup > .month-year-pane { /*ngjyra e background te muajit dhe vitit */
    -fx-background-color: #4a4a4a;
}
.date-picker-popup > * > .spinner > .button { /*background i shigjetave qe ndryshojne muajin dhe vitin */
    -fx-background-color: #4a4a4a;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}

.date-picker-popup > * > .spinner > .button > .left-arrow, /*ngjyra e shigjetave */
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #b3b3b3;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.date-picker-popup > * > .spinner > .button:hover > .left-arrow,/*ngjyra e shigjetave ne hover */
.date-picker-popup > * > .spinner > .button:hover > .right-arrow { 
    -fx-background-color: white;
}

.date-picker-popup > * > .spinner { /*ngjyra e muajit dhe vitit */
    -fx-background-color: #4a4a4a;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner .label { /*ngjyra e tekstit te muajit dhe vitit */
    -fx-text-fill: #b3b3b3;
}

.date-picker-popup > .calendar-grid { /*ngjyra e datave te muajit paraardhes dhe pasardhes */
    -fx-background-color: #4a4a4a;
    -fx-padding: 0;
}
.date-picker-popup > * > .day-name-cell, /* nese klienti kerkon edhe numrin e javes  */
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.75em;
    -fx-text-fill: white;
}

.date-picker-popup > * > .day-cell { /*css per stilimin e qelizave te dates ne kalendar */

    -fx-border-color: #4a4a4a;
    -fx-background: #4a4a4a;
    -fx-background-color: #4a4a4a;
    -fx-text-fill: white;
}

.date-picker-popup > * > .day-cell:hover { /*ngjyra kur bejme hover siper nje date */
    -fx-background-color: #999999, #47DC74;
    -fx-background-insets: 0, 3;
}

.date-picker-popup > * > .day-cell.selected { /*ngjyra e dates se selektuar */
    -fx-background-color: #999999, #24B951;
    -fx-background-insets: 0, 3;
}

.date-picker-popup > * > .previous-month,/*ngjyra e datave te muajit paraardhes dhe pasardhes por pa ditet e javes */
.date-picker-popup > * > .next-month {
    -fx-background-color: #4a4a4a;
    /*-fx-text-fill: #999999;*/
    -fx-opacity: 0.3;
}
.date-picker-popup > * > .today { /*ngjyra e dites se sotme */
    -fx-background-color: #0078d7;
    -fx-background-insets: 0;
}

.check-box{
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "SSP";
    -fx-font-size: 13pt;
}
.check-box .box{
    -fx-background-color: transparent, #7E7E7E, transparent, #7E7E7E;
    -fx-background-radius: 0 ;
}
.check-box:selected .box .mark{
    -fx-background-color: black;
}

.vbox{
    /*-fx-border-width: 0.5 0.5px 0.5px 0;
    -fx-border-color: black;
    -fx-padding: 5px;*/
}

.vbox_without_bot_line{
    -fx-border-width: 0 0.5px 0 0;
    -fx-border-color: black;
}


.statusLbl{
    -fx-font-size: 10pt;
}

.btnStart {
	-fx-graphic: url("images/start.png");
    -fx-text-fill : white;
}

.btnStop {
	-fx-graphic: url("images/stop1.png");
    -fx-text-fill : white;
}

.btnQuit {
	-fx-graphic: url("images/quit.png");
    -fx-text-fill : white;
}

.btnCSV {
    -fx-graphic: url("images/csv.png");
    -fx-text-fill : white;
}

.btnDestination {
    -fx-graphic: url("images/destination.png");
    -fx-text-fill : white;
}
