.text-area .content
{ 
-fx-background-color: black;
-fx-border-color:black;
}
.text-area
{ 
-fx-text-fill: white;
}

@font-face{
	font-family: 'SourceSansPro';
	src: url(SourceSansPro-Light.ttf')
}
.text {
	-fx-font-family: "SourceSansPro";
}
.main_pane{/*added in fxml*/
    -fx-background-color: #4C4C4C;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.anchor_pane{/*added in fxml*/
    -fx-background-color: #4C4C4C;
}

.button{
    -fx-text-fill: #EEEEEE;
    -fx-background-color: #7E7E7E;
    -fx-background-radius: 0 ;
    -fx-font-family: "SSP";
    -fx-font-size: 13.5pt;
    -fx-padding: 4,5px;
}
.button:hover{
    -fx-background-color: #262626;
}
.button:disabled{
    -fx-background-color: #262626;
}
.button:pressed{
    -fx-background-color: #DCDCDC;
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "SSP";
    -fx-font-size: 13pt;
}

.info_panel_lbl{
    -fx-font-size: 15pt;
    -fx-padding: -2px;
}

.text-area{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-control-inner-background:#232323;
    -fx-text-fill: #EEEEEE;
    -fx-focus-color: -fx-control-inner-background;
    -fx-background-color: transparent, #232323, transparent, #232323;
    -fx-font-size: 15pt;
}
.text-area .content {
    -fx-background-color: transparent, #232323, transparent, #232323;
    -fx-background-radius: 0 ;
}

.text-field{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-family: "SSP";
    -fx-font-size: 11pt;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-padding: 2px;
    -fx-background-color: transparent, #EBEBEB, transparent, #EBEBEB;

}


.check-box{
    -fx-text-fill: #EEEEEE;
    -fx-font-family: "SSP";
    -fx-font-size: 13pt;
}
.check-box .box{
    -fx-background-color: transparent, #7E7E7E, transparent, #7E7E7E;
    -fx-background-radius: 0 ;
}
.check-box:selected .box .mark{
    -fx-background-color: black;
}

.vbox{
    -fx-border-width: 0 0.5px 0.5px 0;
    -fx-border-color: black;
    -fx-padding: 5px;
}

.vbox_without_bot_line{
    -fx-border-width: 0 0.5px 0 0;
    -fx-border-color: black;
}


@font-face {
    font-family: 'SSP';
    src: url('SourceSansPro-Light.ttf');
}

.statusLbl{
    -fx-font-size: 10pt;
}

